SmartOrderService/packages/
SmartOrderService/SmartOrderService/bin/
SmartOrderService/SmartOrderService/fonts/
SmartOrderService/SmartOrderService/obj/
SmartOrderService/SmartOrderService.Tests/obj/
SmartOrderService/SmartOrderService.Tests/bin/
SmartOrderService/Facturacion/obj/Debug/build.force
SmartOrderService/OpeCDLib/obj/
SmartOrderService/testOpecdLibrary/obj/
SmartOrderService/OpeCDLib/bin/
SmartOrderService/testOpecdLibrary/bin/
SmartOrderService/testpro/
SmartOrderService/.vs/
