<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div style="max-width: 800px;">
        <div style="text-align-last: center;">
            <h2>Reporte de Operaciones - BillPocket</h2>
        </div>
        <div style="text-align: -webkit-center;">
            <div style="width: fit-content;">
                <div style="width: 100%; text-align: left;">
                    <h4 style="font-weight: 100;"><strong>CEDIS:</strong>&emsp;{BranchName}</h4>

                </div>
                <div style="width: 100%; text-align: left;">
                    <h4 style="font-weight: 100;"><strong>Ruta:</strong>&emsp;{RouteName}</h4>

                </div>
                <div style="width: 100%; text-align: left;">
                    <h4 style="font-weight: 100;"><strong>Responsable:</strong>&emsp;{UserRole}</h4>

                </div>
                <div style="width: 100%; text-align: left;">
                    <h4 style="font-weight: 100;"><strong>Fecha de Jornada:</strong>&emsp;{WorkDayDate}</h4>

                </div>
                <div style="width: 100%; text-align: left;">
                    <h4 style="font-weight: 100;"><strong>Fecha y hora de envío:</strong>&emsp;{SendDate}</h4>

                </div>
                <div style="width: 100%; text-align: left;">
                    <h4 style="font-weight: 100;"><strong>Transacciones:</strong>&emsp;{TotalSales}</h4>

                </div>
                <div style="width: 100%; text-align: left;">
                    <h4 style="font-weight: 100;"><strong>Total en pesos:</strong> &emsp;{TotalAmount}</h4>

                </div>
            </div>
            
        </div>
        
    </div>
</body>
</html>