<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div style="max-width: 800px;">
        <div style="text-align-last: center;">
            <h2>Reporte de Operaciones - BillPocket</h2>
        </div>
        <div style="width: 100%; display: inline-flex;">
            <div style="width: 40%; text-align: right;">
                <h4><strong>CEDIS:</strong></h4>
            </div>
            <div style="width: 60%; ">
                <h4 style="font-weight: 100;">&emsp;{BranchName}</h4>
            </div>
        </div>
        <div style="width: 100%; display: inline-flex;">
            <div style="width: 40%; text-align: right; ">
                <h4><strong>Ruta:</strong></h4>
            </div>
            <div style="width: 60%; ">
                <h4 style="font-weight: 100;">&emsp;{RouteName}</h4>
            </div>
        </div>
        <div style="width: 100%; display: inline-flex;">
            <div style="width: 40%; text-align: right; ">
                <h4><strong>Responsable:</strong></h4>
            </div>
            <div style="width: 60%; ">
                <h4 style="font-weight: 100;">&emsp;{UserRole}</h4>
            </div>
        </div>
        <div style="width: 100%; display: inline-flex;">
            <div style="width: 40%; text-align: right; ">
                <h4><strong>Fecha de Jornada:</strong></h4>
            </div>
            <div style="width: 60%; ">
                <h4 style="font-weight: 100;">&emsp;{WorkDayDate}</h4>
            </div>
        </div>
        <div style="width: 100%; display: inline-flex;">
            <div style="width: 40%; text-align: right; ">
                <h4><strong>Fecha y hora de envío:</strong></h4>
            </div>
            <div style="width: 60%; ">
                <h4 style="font-weight: 100;">&emsp;{SendDate}</h4>
            </div>
        </div>
        <div style="width: 100%; display: inline-flex;">
            <div style="width: 40%; text-align: right; ">
                <h4><strong>Transacciones:</strong></h4>
            </div>
            <div style="width: 60%; ">
                <h4 style="font-weight: 100;">&emsp;{TotalSales}</h4>
            </div>
        </div>
        <div style="width: 100%; display: inline-flex;">
            <div style="width: 40%; text-align: right; ">
                <h4><strong>Total en pesos:</strong></h4>
            </div>
            <div style="width: 60%; ">
                <h4 style="font-weight: 100;">&emsp;{TotalAmount}</h4>
            </div>
        </div>
    </div>
</body>
</html>