<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div style="text-align: left; margin-bottom: 20px;">
        {image}
    </div>
    <div>
        {CustomerName}
    </div>
    <div>
        Hemos recibido la solicitud para volver a recibir sus tickets de compra a este correo, para ello, es necesario que confirme esta acción haciendo clic en el siguiente enlace: <a href="{TermsAndConditionLink}">Terminos y condiciones</a>
    </div>
    <!--<br />
    <div style="text-align-last: center;">
        <a href="{CanceledLink}">Cancelar recepción de tickets</a>
    </div>-->
</body>
</html>