<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div style="text-align: right; margin-bottom: 20px;">
        {image}
    </div>
    <div>
        A continuación, se muestra la lista de consumidores que no han comprado en las últimas visitas, por lo que los impulsores y ayudantes han solicitado la baja de los mismos:
    </div>
    <br />
    <div>
        <table style="width: 100%; border-collapse: collapse;">
            <tr>
                <th style="border: 1px solid black; background-color: lightgray;">CFE</th>
                <th style="border: 1px solid black; background-color: lightgray;">Nombre</th>
                <th style="border: 1px solid black; background-color: lightgray;">Ruta</th>
                <th style="border: 1px solid black; background-color: lightgray;">Impulsor</th>
                <th style="border: 1px solid black; background-color: lightgray;"><div>Motivo</div> Baja</th>
                <th style="border: 1px solid black; background-color: lightgray;"><div>Fecha</div> Solicitud</th>
            </tr>
            {TableData}
            
        </table>
    </div>
    <br />
    <div>
        Este correo es sólo informativo, por lo que es necesario ingresar al sistema correspondiente para dar de baja a dichos consumidores.
    </div>
</body>
</html>