<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        .divimage {
            width: 30%;
            text-align: center;
        }

        .image{
            margin-top: 15%;
        }

        .right {
            text-align: right;
        }

        .cancelSale {
            background-color: orangered;
            color: yellow;
            float: right;
            height: 30px;
            width: 190px;
            text-align: center;
            padding-top: 10px;
        }
        .saleClass {
            {SaleTableStyle}
        }
    </style>
</head>
<body>
    <div style="max-width: 800px;">
        <div>
            <h2>¡GRACIAS POR TU COMPRA!</h2>
            <h3>Hola {CustomerName}, que disfrutes tu compra, aquí puedes consultar el resumen: </h3>
        </div>
        <div style="display: inline-flex; width: 100%; height: 100%; align-items: center; ">
            <div style="width: 40%">
                <div class="divimage">
                    {image}
                </div>
                <div style="font-size: xx-small;">
                    Poniente: PREDIO RUSTICO No.13345 X JACINTO CANEK Y ANILLO PERIFERICO FRACC JACINTO CANEL C.P. 37227 MÉRIDA, YUCATÁN MATRIZ: CALLE 7No. 36 X 12 Y 22 COLONIA MELCHOR OCAMPO II CP. 37165 MÉRIDA, YUCATÁN RFC: BBE790827ALA
                </div>
            </div>
            <div style="width: 60%; margin-left: 10px; margin-top: 10px; margin-bottom: 10px; border: double;">
                <table style="margin-left: 5px; margin-top: 10px; margin-bottom: 10px;">
                    <tr>
                        <td><strong>Fecha:</strong></td>
                        <td>{Date}</td>
                    </tr>
                    <tr>
                        <td><strong>Cliente:</strong></td>
                        <td>{CustomerFullName}</td>
                    </tr>
                    <tr>
                        <td><strong>Ruta:</strong></td>
                        <td>{RouteAddress}</td>
                    </tr>
                    <tr>
                        <td><strong>Vendedor:</strong></td>
                        <td>{SellerName}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="text-align-last: right; font-size: smaller;">
            FAVOR DE VERIFICAR ENTREGA COMPLETA DE PRODUCTOS Y CANTIDADES
        </div>
        <br />
        {OrderTableTamplate}
        <div class="saleClass">
            <div style="border: double; background-color: lightgray; text-align-last: center;">
                <strong>Venta</strong>
            </div>
            <div style="width: 100%; margin-top: 5px; margin-bottom: 5px; margin-left: 51%;">
                <strong>{PaymentMethod}</strong>
            </div>
            <div>

                <table style="margin-left: 10px;margin-top: 10px;margin-bottom: 10px; width: 100%;">
                    <tr>
                        <th style="text-align: left;width:400px"><strong>Producto</strong></th>
                        <th style="text-align: left;width:100px"><strong>Cantidad</strong></th>
                        <th style="text-align: left;width:100px"><strong>Precio</strong></th>
                        <th style="text-align: left;width:100px"><strong>Total</strong></th>
                    </tr>
                    {TdBody}
                </table>

            </div>
        </div>
        <div id='promociones' style='display:none'>
            <div style="border: double; background-color: lightgray; text-align-last: center;">
                <strong>Promociones</strong>
            </div>
            <div>
                <table style="margin-left: 10px;margin-top: 10px;margin-bottom: 10px; width: 100%;">
                    <tr style="display:none">
                        <th style="text-align: left;width:400px"><strong>Producto</strong></th>
                        <th style="text-align: left;width:100px"><strong>Cantidad</strong></th>
                        <th style="text-align: left;width:100px"><strong>Precio</strong></th>
                        <th style="text-align: left;width:100px"><strong>Total</strong></th>
                    </tr>
                    {TdBodyPromociones}
                </table>
            </div>
        </div>
        <div style="margin-bottom: 20px; width: 100%; display:inline-flex">
            <div style="width: 35%; height: 10px;">

            </div>
            <div style="width: 65%; margin-left: 10px; margin-top: 10px; margin-bottom: 10px;">
                <table style="width: 100%">
                    <tr class="saleClass">
                        <td>Total de productos vendidos:</td>
                        <td class="right">{TotalProductsSold}</td>
                    </tr>
                    <!--<tr>
                    <td>Total de cajas vendidas:</td>
                    <td class="right">{TotalBoxesSold}</td>
                </tr>-->
                    <tr id='lblpromociones' style='display:none'>
                        <td>Total de Promociones:</td>
                        <td class="right">{TotalPromos}</td>
                    </tr>
                    <tr class="saleClass">
                        <td>Total:</td>
                        <td class="right">{TotalPrice}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="text-align-last: center; margin-bottom: 5px;">
            ¡Gracias por tu preferencia!
        </div>
        <div style="text-align-last: center; margin-bottom: 5px;">
            <a href="{CancelTicketLink}">No quiero recibir tickets en mi cuenta de correo electrónico</a>
        </div>
        <div style="text-align-last: center; margin-bottom: 5px;">
            Visitanos en: <a href="http://www.bepensaentuhogar.com/">http://www.bepensaentuhogar.com/</a>
        </div>
        <!--<div style="text-align-last: center; margin-bottom: 5px;">
        Tu opinión es muy importante para nosotros y nos ayuda a mejorar, te invitamos a responder esta breve encuesta: <a href="{LinkEncuesta}">Ir a la encuesta</a>
    </div>
    <div style="text-align-last: center;">
        Quieres felicitar a alguien, tienes alguna queja o comentario,
    </div>-->
        <div style="text-align: center;">
            Quieres felicitar a alguien, tienes alguna queja o comentario, llámanos al 800 CIC
        </div>
    </div>
</body>
</html>