<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div style="text-align: left; margin-bottom: 20px;">
        {image}
    </div>
    <div>
        {CustomerName}
    </div>
    <div>
        Bienvenido, a partir de este momento, éste será el medio por el que le enviaremos sus tickets de compra, para ello, es importante que confirme este correo haciendo click en el siguiente enlace <a href="{TermsAndConditionLink}">Terminos y condiciones</a>
    </div>
    <br />
    <div style="text-align-last: center;">
        <a href="{CanceledLink}">No quiero recibir tickets en mi cuenta de correo electrónico</a>
    </div>
</body>
</html>