<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        {CustomerName}
    </div>
    <div>
        Bienvenido, a partir de este momento, éste será el medio por el que le enviaremos sus tickets de compra, para ello, es importante que confirme este correo haciendo click en el siguiente enlace <a href='{TermsAndConsitionLink}'>Terminos y condiciones</a>
    </div>
    <br />
    <div style="text-align-last: center;">
        <a href="{CanceledLink}">Cancelar recepción de tickets</a>
    </div>
</body>
</html>